* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #fdfdfd;
  color: #333;
  line-height: 1.6;
}

header {
  text-align: left;
  padding: 20px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

main {
  max-width: 1100px;
  margin: 0 auto;
}

.apps-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.app-card {
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  width: 48%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.app-card img {
  width: 100%;
  height: auto;
}

.app-content {
  padding: 20px;
}

.app-content .platform {
  font-size: 0.9em;
  color: #999;
}

h3 {
  margin: 10px 0;
  font-size: 1.3em;
}

.btn {
  display: inline-block;
  background-color: #813d88;
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #6d326f;
}

.full-width {
  width: 100%;
}

footer {
  text-align: center;
  margin: 30px 0;
  font-size: 0.9em;
  color: #666;
}
